<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21779768245-dlc2ajrhmo63545raond6q6bcp0lne2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21779768245-dlc2ajrhmo63545raond6q6bcp0lne2u</string>
	<key>API_KEY</key>
	<string>AIzaSyA-v-CZaWRV7vbKibBDLy0DApC6AhPb0UU</string>
	<key>GCM_SENDER_ID</key>
	<string>21779768245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiPresensi</string>
	<key>PROJECT_ID</key>
	<string>skripsipresensifcm</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsipresensifcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21779768245:ios:1727e1ce13eb2cccf66ffc</string>
</dict>
</plist>